<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Create todo item</title>
        {% comment %} <link rel="stylesheet" href="{% static "css/styles.css" %}" /> {% endcomment %}
    </head>
    <body>
        <main>
            <div>
                <h1 >Create a new item</h1>
                <form method="post">
                    {% csrf_token %} {{ form.as_p }}
                    <button class="create_button">Create</button>
                  </form>
            </div>
        </main>
    </body>
</html>
