<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todo List</title>
        {% comment %} <link rel="stylesheet" href="{% static "css/styles.css" %}" /> {% endcomment %}
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create a new item</a>
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items</th>
                        </tr>
                        <tbody>
                            {% for list in todo_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'todo_list_detail' list.id %}">{{ list }}</a>
                                    </td>
                                    <td>{{ list.items.all.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            </div>
        </main>
    </body>
</html>
